---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{tffile "examples/data-sources/garage_bucket/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
