---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  Retrieves information about a Garage S3 bucket.
---

# {{.Name}} ({{.Type}})

Retrieves information about a Garage S3 bucket.

## Example Usage

{{tffile "examples/data-sources/garage_bucket/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
